/* CandlestickChart.module.css */

.candlestickChartContainer {
    flex: 1; /* Grow to fill available space */
    min-width: 50vw; /* Don't shrink below 250px */
    flex-direction: column;
    display: flex;
    min-height: 668px;
    padding: var(--spacing-medium);
    background-color: var(--container-background);
    border-radius: var(--border-radius-medium);
}

.chartSwapContainer {
    margin-bottom: var(--spacing-medium);
    display: flex;
    justify-content: right;
    gap:10px;
    padding:5px;
}

.chartSwapButton {
    width:50px;
    height:50px;
    color: var(--text-color); 
    background-color: var(--button-background);
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-bottom:0px;
}

.chartSwapButton:hover {
    background-color: var(--button-hover-background);
  }

@media (max-width: 768px) {
    .candlestickChartContainer {
        flex-basis: 100%; /* Take full width on small screens */
        max-width: 100%; /* Override any max-width */
    }
}
