.logoContainer {
    display: flex;           /* Converts the container into a flex container */
    align-items: center;     /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    padding: 5px;
    background-color: var(--input-background);
    font-weight: bold;
    font-size: 30px;
}