.reccomenderContainer {
    display: flex;           /* Converts the container into a flex container */
    align-items: center;     /* Centers items vertically */
    justify-content: center; /* Centers items horizontally */
    border-radius:10px;
    width: 35vw;
    max-width: 125px;
    min-height: 450px;
    background-color: var(--container-background);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-medium);
}

.listContainer {
    list-style-type: none; /* Remove the default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: left;
    font-size: 1.25rem;
    background-color: var(--data-point-background);
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
    border-radius: var(--border-radius-small);
}

.listItem:last-child {
    border-bottom: none; /* Ensure the last item doesn't have a bottom border */
}