/* StockInfo.module.css */

:root {
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  --border-radius-small: 5px;
  --border-radius-medium: 15px;
}

.stockDataContainer {
  /* Size */
  max-width: 35vw;
  min-height: 450px;

  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* Styling */
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-medium);
  background-color: var(--container-background);

  /* Margin adjusted for centering vertically and pushing to the left */
  margin: 0;
  margin-right: var(--spacing-medium); /* Add margin to the right to separate from LineChart */
}

.dataColumns {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: var(--spacing-medium);
}

.title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--title-background);
  padding: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
  border-radius: var(--border-radius-small);
}

.dataPoint {
  display: flex;
  justify-content: space-between;
  
  font-size: 1.25rem;
  background-color: var(--data-point-background);
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
  border-radius: var(--border-radius-small);
}

.column .dataPoint:last-child {
  margin-bottom: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .stockDataContainer {
    max-width: 90vw;
  }
}

/* Additional styles for positioning LineChart */
@media (min-width: 769px) {
  .stockDataContainer {
    margin-right: 0; /* Remove margin for desktop screens */
  }
}
