/* StockInfo.module.css */

.stockDataContainer {
  flex: 1;
  /* Positioning and Size */
  position: absolute;
  left: 15%;
  top: 13vh;
  width: 35vw;
  min-height: 450px;

  /* Layout and Display */
  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* Styling */
  border-radius: 15px;
  padding: 15px;
  background-color: var(--container-background);

  /* two-column layout */
  display: flex;
  flex-direction: column;  /* DIRECTION */
  justify-content: stretch;
}

.dataColumns {
  /* Use Flexbox for the two-column layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;  /* Add spacing between the columns */
}

.column {
  display: flex;
  flex-direction: column;
  /* padding: 0 10px; /* space between */ 
}

.title{
  width: 100%;
  flex: 1;
}
.dataPoint {
  margin: 0;
}

.title {
  font-size: 45px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: var(--title-background);
  padding: 10px;
  margin-bottom: 15px;
}

.dataPoint {
  font-size: 20px;
  background-color: var(--data-point-background);
  padding: 5px;
  margin-top: 15px;
  border-radius: 5px;
}