/* light-theme.css */
body {
    background-color: #06080a; /* Light Background */
    color: #495057; /* Dark Text */
}

/* Additional styles for other elements */
.navbar, .card, .btn {
    background-color: #c60d0d; /* White Background */
    color: #495057; /* Dark Text */
}